body.main_page {
	background-color: #F7F8FA ;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
	max-width: 2560px;
}
*{
	padding: 0;
	margin: 0;
}
.homesection {
    background-image: linear-gradient(180deg, #80B7FF 0%, #4981FD 100%);
	position: relative;
    width: 100%;
    padding-bottom: 50px ;
    background-size: 100% 100%;
    background-position: 100%;
    max-height: 539px;
}
.curve{
    margin-top: -1px;
}
.container{

	padding: 0px 15px;
	margin-right: auto;
	margin-left: auto;
}  
nav.navbar{
	padding: 0;
	padding-top: 60px;
}
.logo img{
    max-width: 230px;
}
nav .navbar-brand{
    color: #FFFFFF;
    font-family: 'BebasNeueBold';
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.96px;
    line-height: 48px;
    text-align: left;
}
.navbar-expand-md .navbar-nav {
      width: 100%;
      justify-content: flex-end;
      align-items: center;
}
ul.navbar-nav li{
      padding-left: 10px;
      justify-content: center;
}
ul.navbar-nav li a{
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    text-align: right;
    margin-top: 0px;
}
.collapsebutton{
    float: right;
    background-color: #FFFFFF;
    background-position: right;
    background-size: cover;
    height: 35px;
    width: 35px;
}
img{
    width: 100%;
}
.align-item-center{
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.text_container{
    padding-top: 30px;
}
.text_box.col-lg-6{
    padding-top:12px;
    padding-left: 0;
    padding-right: 0;
}
 h1.text_title {
    word-spacing: 1px;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 51px;
    font-weight: 900;
    max-width: 567px !important;
    line-height: 51px;
    text-align: left;
    padding-bottom: 20px;
}
 h4.text_content{
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 21px;
    font-weight: 400;
    max-width:500px;
    line-height: 31px;
    text-align: left; 
    padding-bottom: 40px;
}
.image_box {	
    max-width: 579px ;
    min-height: 495px ;
	position: absolute;
    padding-right: 0;
    top: 32%;
    padding-top: 10px;
    padding-left: 20px;
}
/* .text_button button{
    border-radius: 50px;
	box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.15);
	font-family: 'OpenSans',Sans-serif;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.48px;
	line-height: 24px;
    text-align: center;
} 
.text_button button.btn-positive{
    background-color: #FFE799;
	color: #1D2534;
	border-color: #FFE799;
    padding: 17.5px 85px;
} */

.coin_wrapper{
    width: 100%;
    height: 350px;
    background-color: #0067FF;
    float: left;
    padding-bottom: 60px;
    margin-top: 115px;
}
 
.coin_cardwrapper{
    display: flex;
    margin-top: -160px;
    margin-bottom: 51px;
    margin-left: 20px;
    margin-right: 20px;
}
.coin_cardwrapper .card{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 44px 0 rgba(0, 0, 0, 0.05);
    margin: 1%;
    margin-bottom: 20px;
    border:none;
    padding:66px 40px 63px 40px;
}
.coin_cardwrapper .card .card_icon{
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 37px auto;
    border-radius: 100%;
}
.tezos_bg{
    background-color: #FFE799;
}
.cardano_bg{
background-color: #5E95FF;
}
.coin_cardwrapper .card .card_icon.tezos_bg img{
width: 44px;
}
.coin_cardwrapper .card .card_icon.cardano_bg img {
    width: 68px;
}
.celo_bg {
    background-color: #E4FFB0;
}
.kusama-bg {
    background-color: #000000;
}
.coin_cardwrapper .card .card_icon.celo_bg img {
    width: 60px;
}
.coin_cardwrapper .card .card_title h3{
    color: #1D2534;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    width: 220px;
    text-align: center;
}
.coin_wrapper .title_wrap h2{
      color: #FFFFFF;
      font-family: 'Roboto',sans-serif;
      font-size: 44px;
      font-weight: 400;
      line-height: 53px;
      margin-bottom: 0;
      text-align: center;
}
/*** Service Section ***/
.servicewrapper{
    width: 100%;
    float: left;
    padding-bottom: 32px;
    padding-top: 50px;
    margin-top: 0;
}
.serviceswrapper .service{
	display: flex;
	position: relative;
}
.service.section1 .servicewrapper_left,
.service.secure .servicewrapper_left{
    max-width: 44%;
    width: 100%;
    margin-right: 98px;
}
.service.profit .servicewrapper_right{
    max-width:600px;
    width: 100%
}
.service.profit .servicewrapper_right .imgwrapper{
    margin-left: 10px;
}
.service.section1 .servicewrapper_left .imgwrapper{
    margin-right: 10px;
}
.service.profit .servicewrapper_left {
    max-width: 44%;
    width: 100%;
    margin-left: 98px;
}
.service.section1 .servicewrapper_right,
.service.secure .servicewrapper_right{
    max-width:600px;
    width: 100%
}
.service.profit .servicewrapper_left{
    max-width:600px;
    width: 100%
}
.servicewrapper .row{
    padding-top: 10px;
}
.service.profit .servicewrapper_left ,
.service.section1 .servicewrapper_right, .service.secure .servicewrapper_right {
    padding-top: 50px;
    margin-top: 20px;
}
.servicewrapper h3.title_wrapper{
    color: #1D2534;
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    width: 660px;
    text-align: left;
}  
.servicewrapper h4.description{   
    color: #777E8D;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    width: 537px;
    text-align: left;
    }  
.ovel2{    
    border-radius: 100%;
    width: 74px !important;
    height: 74px;
}
.ovel1{
    border-radius: 100%;
    width: 166px !important;
    height: 166px;
}

/**** Media Queries ****/

@media(max-width: 767px){
    .logo img{
        max-width: 152px;
    }
    nav.navbar {
        padding-top: 20px;
    }
    .navbar-nav .nav-item {
		padding: 5px;
	    padding-left: 10px;
	    width: 100%;
	}
	ul.navbar-nav li a:first-child {
	    color: rgb(26, 34, 49);
	    text-align: left;
        font-size: 17px;
    }
    button.navbar-toggler {
        margin-top: 10px;
    }
    /* .homesection .head_section{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #7bb1fa;
        height: 70px;
    } */

    h1.text_title {    
        font-size: 27px;
        line-height: 31px;
        text-align: center; 
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    h4.text_content{
        font-size: 17px;
        line-height: 26px;
        text-align: center; 
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
	.homesection{
		height: auto;
		max-height: 100%;
		display: flex;
		flex-direction: column;
	}
    .coin_cardwrapper{
        flex-wrap: wrap;
    }
    .coin_wrapper{
        height: auto;
        padding-top: 32px;
        padding-bottom: 40px;

    }
    .coin_wrapper .title_wrap h2{
        font-size: 34px;
        font-weight: 400;
        margin-bottom: 2px;
    }
    .justify-content-center{
    justify-content: center;
    }

}

@media(min-width: 768px) and (max-width: 1024px){
	nav.navbar {
        padding-top: 23px;
    }
    ul.navbar-nav li a:first-child {
	    font-size: 20px;
    }
    .logo img{
        max-width: 230px;
    }
    h1.text_title {    
        font-size: 37px;
        line-height: 41px;
        text-align: center; 
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    h4.text_content{
        font-size: 22px;
        line-height: 36px;
        text-align: center; 
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
	.row{
            display: flex;
            flex-wrap: wrap;
            margin-right: -.75rem;
            margin-left: -.75rem;
    }
    .homesection{
		height: auto;
        max-height: 100%;
    }    
	.coin_cardwrapper{
        flex-wrap: wrap;
    }
    .coin_wrapper{
        height: auto;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .justify-content-center{
        justify-content: center;
        }
}



